.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.btn {
  background-color: palevioletred;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: 2s ease-in-out;
}

.btn-align {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.about-cont {
  background-image: url(/public/images/slider1.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-cont h3 {
  font-family: "Overpass", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  color: palevioletred;
  padding-top: 3rem;
}
.about-cont p {
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.overlay-about {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
  z-index: 2000;
}

.flex {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 3rem;
}
.flex h3 {
  font-family: "Overpass", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: palevioletred;
}
.flex p {
  font-family: "Overpass", sans-serif;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 200;
}
.flex img {
  width: 310px;
}

section {
  margin-top: 10rem;
}

.zoom-background {
  background-image: url(/public/images/parallex-2.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 6rem;
}

.slide {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slide-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.overlay-reviews {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.description {
  padding-top: 0.9rem;
  color: white;
  font-family: "Overpass", sans-serif;
  max-width: 500px;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.gallery {
  background-image: url(/public/images/4.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.gallery h3 {
  font-family: "Overpass", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  color: palevioletred;
  padding-top: 3rem;
}
.gallery p {
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: center;
  flex-wrap: wrap-reverse;
}

.middle-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-width {
  width: 300px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: relative;
}

.relative,
.positions {
  position: relative;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  text-align: center;
}

.nav-bar-icon {
  margin-top: 0.8rem;
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.positions:hover .img-width {
  opacity: 0.3;
  cursor: pointer;
}

.positions:hover .middle-text {
  opacity: 1;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styles.css */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}
.navbar .nav-bar-icon {
  display: flex;
  gap: 3rem;
}
.navbar .nav-bar-icon .navbar-icons {
  color: palevioletred;
  font-size: 20px;
  padding-top: 0.2rem;
}
.navbar .navbar_flex {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}
.navbar h1 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 15px;
  padding-top: 1rem;
  letter-spacing: 3px;
}

.logo {
  width: 200px;
}

.nav-toggler-links {
  display: none;
}

.nav__bars {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.nav__close {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.nav-container {
  padding-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  color: palevioletred;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  color: palevioletred;
  cursor: pointer;
  position: relative;
}

nav {
  display: flex;
  gap: 2rem;
  position: relative;
}

.drop-down {
  background-color: black;
  width: 35%;
  height: 170px;
  padding: 1rem;
  border-radius: 3px;
  position: absolute;
  left: 8rem;
  top: 2rem;
  text-align: center;
  display: none;
  transition: transform 0.3s ease-in-out;
}

.drop-down.open {
  display: block;
  transform: translateY(0);
}

.drop-down.close {
  display: none;
  transform: translateY(-100%);
}

.drop-down-link {
  color: palevioletred;
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}

.line {
  width: 100%;
  border: 1px solid grey;
  height: 0.0625rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.each-slide-effect {
  position: relative;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

/* Other existing styles */
.slide1 {
  background-image: url(/public/images/slider1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide2 {
  background-image: url(/public/images/slider2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide3 {
  background-image: url(/public/images/slider3.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.react-slideshow-container .default-nav:first-of-type {
  display: none;
}

.react-slideshow-container .nav:first-of-type {
  left: 0;
  display: none;
}

.react-slideshow-container .default-nav {
  display: none;
}

.react-slideshow-container .nav {
  display: none;
}

.react-slideshow-container .default-nav:last-of-type {
  display: none;
}

.react-slideshow-container .nav:last-of-type {
  right: 0;
}

.react-slideshow-container .default-nav {
  display: none;
}

.react-slideshow-container .nav {
  display: none;
}

h2 {
  color: palevioletred;
  text-align: center;
  font-size: 60px;
  font-family: "Overpass", sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 11rem;
}

.slide-container p {
  letter-spacing: 2px;
  font-family: "Overpass", sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  color: palevioletred;
}

main {
  margin-top: 5rem;
}
main > h4 {
  color: palevioletred;
  font-family: "Overpass", sans-serif;
  text-align: center;
  letter-spacing: 5px;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
}
main .title-para {
  color: palevioletred;
  font-family: "Overpass", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0.8rem;
}
main .horizontal-line {
  width: 20%;
  border: 1px solid rgb(95, 91, 91);
  height: 0.0625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
main .word-about {
  max-width: 600px;
  font-size: 20px;
  margin-top: 1rem;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section .about-img {
  width: 400px;
}
section .about-home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  align-content: center;
}
section .about-title {
  margin-top: 10rem;
}
section .about-title > h5 {
  color: palevioletred;
  font-size: 20px;
  font-family: "Overpass", sans-serif;
}
section .about-title .about-para {
  max-width: 450px;
  padding-top: 0.9rem;
  color: black;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  text-align: left;
  line-height: 25px;
}
section .about-title .about-icon {
  font-size: 20px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
section .about-title article {
  max-width: 400px;
  padding-top: 0.6rem;
  color: black;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  text-align: left;
  word-break: break-all;
  line-height: 30px;
}
section .about-title .flex-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-self: center;
  align-self: center;
  align-content: center;
  padding-top: 1rem;
}
section .about-title h6 {
  color: palevioletred;
  font-size: 17px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 3px;
}

.wide-container {
  margin-top: 6rem;
  width: 100%;
  background-color: black;
  height: 200px;
  font-family: "Overpass", sans-serif;
  color: white;
  padding-top: 2rem;
}
.wide-container .wide-header {
  font-size: 30px;
}
.wide-container p {
  max-width: 700px;
  padding-top: 0.9rem;
}
.wide-container .wide-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.wide-container button {
  background-color: black;
  color: white;
  border: 2px solid white;
  outline: none;
  font-size: 18px;
  padding: 1rem 2rem;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}
.wide-container button:hover {
  background-color: palevioletred;
  transition: 2s all ease-in;
  color: black;
  border: none;
  border-radius: 5px;
}

.services-icon {
  width: 100px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.tab-content {
  margin-top: 3rem;
  display: flex;
  gap: 13rem;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.item-header {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: palevioletred;
}

.services-para {
  max-width: 500px;
  text-align: left;
  font-family: "Overpass", sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  padding-top: 0.9rem;
}

.services-img {
  width: 500px;
}

footer {
  background: #181818;
  width: 100%;
  height: 400px;
}
footer #footer-loc {
  background-image: url(/public/images/footer-map.png);
  height: 60vh;
  background-size: auto;
  background-position: top 0.9rem center;
  background-repeat: no-repeat;
}
footer .footer-section {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
}
footer .footer-section .header-para h3 {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
footer .footer-section .header-para .About-pagr {
  max-width: 400px;
  color: gray;
  line-height: 25px;
  letter-spacing: 1px;
  padding-top: 1rem;
}
footer .footer-section .flex-cont {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
footer .footer-section p {
  color: gray;
  font-family: "Overpass", sans-serif;
}
footer .footer-section a {
  color: gray;
  letter-spacing: 3px;
  font-family: "Overpass", sans-serif;
}
footer .footer-section .footer-icon {
  color: gray;
}
footer .footer-section #form-footer {
  padding-top: 1rem;
}
footer .footer-section .form-heading {
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}
footer input {
  padding: 1.2rem 0.9rem;
  background: #181818;
  border: 1px solid #5f5e5e;
  font-size: 14px;
  outline: none;
}
footer input::placeholder {
  font-family: "Overpass", sans-serif;
  color: gray;
}
footer button {
  padding: 1.3rem 1rem;
  outline: none;
  border: none;
  font-family: "Overpass", sans-serif;
  background-color: gray;
  cursor: pointer;
  color: white;
}

/*# sourceMappingURL=style.css.map */
