.about-container {
  padding-top: 3rem;

  .About-header {
    letter-spacing: 4px;
    line-height: 100px;
    color: rgb(212, 206, 206);
    font-family: "Overpass", sans-serif;
    font-size: 60px;
    max-width: 700px;
  }
  .about-section {
    padding-top: 6rem;
    display: flex;
    gap: 4rem;

    h4 {
      font-size: 20px;
    }

    .greeting-flex {
      display: flex;
      align-items: center;
      align-self: center;
      align-content: center;
      position: relative;
      span {
        position: absolute;
        font-size: 35px;
        right: 24rem;
        top: 2rem;
      }
    }

    .continous {
      width: 500px;
    }
  }

  .my-self {
    color: white;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    line-height: 40px;
    max-width: 600px;
  }
}
.tools {
  padding-top: 2rem;

  h1 {
    padding-top: 3rem;
    color: rgb(212, 206, 206);
    font-family: $font-body;
    text-align: center;
  }
}
.tools-icon {
  font-size: 50px;
  color: cornflowerblue;
}
.tools-img {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 3rem;
}

.services {
  color: white;
  font-family: $font-body;
  background-color: azure;
  width: 100%;
  height: 400px;

  .section-heading {
    color: black;
    padding-top: 1.5rem;
    margin-left: 3rem;
  }
  .services-title {
    color: black;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  p {
    max-width: 350px;
  }
  .services-container {
    color: black;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
}
.reviews {
  h2 {
    color: white;
    padding-top: 1.5rem;
    margin-left: 3rem;
    font-family: $font-body;
    font-size: 30px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .about-container {
    padding-top: 3rem;

    .About-header {
      letter-spacing: 4px;
      line-height: 100px;
      color: rgb(212, 206, 206);
      font-family: "Overpass", sans-serif;
      font-size: 60px;
      max-width: 700px;
    }
    .about-section {
      padding-top: 6rem;
      display: flex;
      gap: 4rem;

      .continous {
        display: none;
      }
    }
  }
  .tools {
    padding-top: 2rem;

    h1 {
      padding-top: 3rem;
      color: rgb(212, 206, 206);
      font-family: $font-body;
      text-align: center;
    }
  }
  .tools-icon {
    font-size: 30px;
    color: cornflowerblue;
  }
  .tools-img {
    gap: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .services {
    .section-heading {
      margin-left: 0rem;
    }
    .services-title {
      color: black;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    // p {
    //   max-width: 200px;
    // }
    .services-container {
      color: black;
      display: flex;
      justify-content: center;
      align-self: center;
      align-content: center;
      gap: 1rem;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .about-container {
    .About-header {
      font-size: 40px;
      max-width: 600px;
      line-height: 9rem;
    }

    .continous {
      display: none;
    }
    .about-section {
      flex-direction: column;
      flex-wrap: wrap;
      .my-self {
        font-size: 18px;
      }
    }
  }

  .tools {
    padding-top: 2rem;
  }
  .tools-icon {
    font-size: 30px;
    color: cornflowerblue;
  }
  .tools-img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services {
    height: 800px;
    p {
      max-width: 350px;
    }
    .services-container {
      flex-direction: column;
      justify-content: center;
      align-self: center;
      margin-left: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-container {
    .About-header {
      font-size: 30px;
    }

    .continous {
      display: none;
    }
    .about-section {
      flex-direction: column;
      flex-wrap: wrap;
      .my-self {
        font-size: 18px;
      }
    }
  }

  .tools {
    padding-top: 2rem;
  }
  .tools-icon {
    font-size: 25px;
    color: cornflowerblue;
  }
  .tools-img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services {
    height: 800px;
    p {
      max-width: 300px;
    }
    .services-container {
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      margin-left: 3em;
    }
  }
}

@media (max-width: 375px) {
  .about-container {
    .About-header {
      font-size: 20px;
    }
    .about-section {
      .my-self {
        font-size: 18px;
      }
    }
  }
}
